<ul>
   <li><a href="{{BASE_HREF}}products.html">Products</a></li>
   <li><a href="{{BASE_HREF}}brands.html">Our Brands</a></li>
   <li><a href="{{BASE_HREF}}recipes.html">Recipes</a></li>
   <li><a href="{{BASE_HREF}}about.html">About Us</a></li>
   <li><a href="{{BASE_HREF}}contact.html">Contact</a></li>
   <li><a href="{{BASE_HREF}}how-to-order.html">How To Order</a></li>
   <li><a href="{{BASE_HREF}}basket-list.html">My Basket</a></li>
</ul>