<div class="navbar__nav">
   <ul class="nav" id="mainNavigation">
      <li class="nav__item">
         <a href="{{BASE_HREF}}brands.html" class="nav__link">Our Brands</a>
         <div class="nav__child">
            <ul class="subnav">
               <li><a href="{{BASE_HREF}}brand.html">Ahmad Tea</a></li>
               <li><a href="{{BASE_HREF}}brand.html">Campfire</a></li>
               <li><a href="{{BASE_HREF}}brand.html">Itsuki</a></li>
               <li><a href="{{BASE_HREF}}brand.html">Jays</a></li>
               <li><a href="{{BASE_HREF}}brand.html">John John</a></li>
               <li><a href="{{BASE_HREF}}brand.html">Krunchers</a></li>
               <li><a href="{{BASE_HREF}}brand.html">Pacific Foods</a></li>
               <li><a href="{{BASE_HREF}}brand.html">Pastarotti</a></li>
               <li><a href="{{BASE_HREF}}brand.html">Pfanner</a></li>
               <li><a href="{{BASE_HREF}}brand.html">Poco Loco</a></li>
               <li><a href="{{BASE_HREF}}brand.html">Pulmoll</a></li>
               <li><a href="{{BASE_HREF}}brand.html">Rocky Mountain</a></li>
               <li><a href="{{BASE_HREF}}brand.html">Snyder's</a></li>
               <li><a href="{{BASE_HREF}}brand.html">St Michel</a></li>
               <li><a href="{{BASE_HREF}}brand.html">Valledoro</a></li>
            </ul>
         </div>
      </li>
      <li class="nav__item"><a href="{{BASE_HREF}}recipes.html" class="nav__link">Recipes</a></li>
      <li class="nav__item"><a href="{{BASE_HREF}}how-to-order.html" class="nav__link">How to Order</a></li>
      <li class="nav__item"><a href="{{BASE_HREF}}contact.html" class="nav__link">Contact</a></li>
   </ul>
</div>