<div class="pagination pagination--justify-end">
   <ul>
      <li class="pagination__item"><a href="#" class="pagination__link">First</a></li>
      <li class="pagination__item"><a href="#" class="pagination__link">Previous</a></li>
      <li class="pagination__item">...</li>
      <li class="pagination__item"><a href="#" class="pagination__link">6</a></li>
      <li class="pagination__item"><a href="#" class="pagination__link">7</a></li>
      <li class="pagination__item active"><a href="#" class="pagination__link">8</a></li>
      <li class="pagination__item"><a href="#" class="pagination__link">9</a></li>
      <li class="pagination__item"><a href="#" class="pagination__link">10</a></li>
      <li class="pagination__item">...</li>
      <li class="pagination__item"><a href="#" class="pagination__link">Next</a></li>
      <li class="pagination__item"><a href="#" class="pagination__link">Last</a></li>
   </ul>
</div>