<footer class="footer">
   <div class="footer__bottom">
      <div class="container">
         <span class="text-center">Copyright &copy; 2018. FermantoBevFood. All Right Reserved.</span>
      </div>
   </div>
</footer>