<article class="article">
   <div class="article__banner">
      <img src="{{BASE_HREF}}assets/images/default/img-banner-brand.jpg" alt="Banner Brand">
   </div>
   <div class="row">
      <div class="col-1of3">
         <div class="article__pull-up">
            <div class="article__image-logo">
               <img src="{{BASE_HREF}}assets/images/default/img-logo-valledoro.jpg" alt="Valledoro">
            </div>
            <a class="button button--primary button--icon-text mx-auto" data-toggle="scrollto" data-target="#brandProducts" href="#brandProducts"><i data-feather="grid" class="button__feather-icon"></i>View Products</a>
         </div>
      </div>
      <div class="col-2of3">
         <div class="article__content">
            <h2 class="article__title">Valledoro</h2>
            <div class="article__text">
               <p>The company is run by the third generation of the Zubani family.The company has expanded since 1954, and with 5 production lines offers a wide range of products that include different types of breadsticks, rolls and snacks. Valledoro is also a symbol of the Made in Italy brand throughout the world.</p>
               <p>Our products are widely available on the national market and are also exported abroad. This is due to our passion and experience, enabling us to develop a reputation as a supplier and producer of premium quality foodstuffs.</p>
               <p>Website URL: <a href="http://www.valledorospa.it/" target="_blank">http://www.valledorospa.it/</a></p>
            </div>
         </div>
      </div>
   </div>
</article>