<div class="modal modal--alt" id="modalSuccess">
   <div class="modal__wrapper">
      <div class="modal__dialog">
         <div class="modal__header">
            {# <div class="orlabel"><span>Notification</span></div> #}
            <button class="button modal__close" data-dismiss="modal"><i class="button__icon" data-feather="x"></i></button>
         </div>
         <div class="modal__body">
            <div class="modal__image">
               <img src="{{BASE_HREF}}assets/images/default/img-icon-success.png" alt="Thankyou Image" height="115">
            </div>
            <h2 class="modal__headline">Success</h2>
            <div class="modal__text">
               <p>Thank you! Your message has been sent successfully. Our Representative Officer will gladly followup your concerns. </p>
            </div>
         </div><!-- /.modal__body -->
      </div><!-- /.modal__dialog -->
   </div><!-- /.modal__wrapper -->
</div><!-- /.modal -->