<div class="lists lists--image">
   <ul>
      <li class="lists__item">
         <img src="{{BASE_HREF}}assets/images/partner/img-hero.jpg" alt="Hero">
      </li>
      <li class="lists__item">
         <img src="{{BASE_HREF}}assets/images/partner/img-foodhall.jpg" alt="FOODHALL">
      </li>
      <li class="lists__item">
         <img src="{{BASE_HREF}}assets/images/partner/img-ranch-market.jpg" alt="Ranch Market">
      </li>
      <li class="lists__item">
         <img src="{{BASE_HREF}}assets/images/partner/img-grandlucky.jpg" alt="GrandLucky">
      </li>
      <li class="lists__item">
         <img src="{{BASE_HREF}}assets/images/partner/img-kem-chicks.jpg" alt="Kem Chicks">
      </li>
      <li class="lists__item">
         <img src="{{BASE_HREF}}assets/images/partner/img-setiabudi.jpg" alt="Setiabudi Supermarket">
      </li>
      <li class="lists__item">
         <img src="{{BASE_HREF}}assets/images/partner/img-aeon.jpg" alt="Aeon">
      </li>
      <li class="lists__item">
         <img src="{{BASE_HREF}}assets/images/partner/img-superindo.jpg" alt="Superindo">
      </li>
      <li class="lists__item">
         <img src="{{BASE_HREF}}assets/images/partner/img-daily.jpg" alt="Daily Foodhall">
      </li>
      <li class="lists__item">
         <img src="{{BASE_HREF}}assets/images/partner/img-farmers.jpg" alt="Farmers Market">
      </li>
      <li class="lists__item">
         <img src="{{BASE_HREF}}assets/images/partner/img-yogya.jpg" alt="Toserba Yogya">
      </li>
   </ul>
</div>