<div class="lists lists--grid lists--grid4">
   <div class="lists__item">
      <div class="cardview">
         <a href="#" class="cardview__link">
            <div class="cardview__wrapper">
               <div class="cardview__image">
                  <img src="{{BASE_HREF}}assets/images/default/img-recipe-pumpkin-pecan-blondies.jpg" alt="Pumpkin Pecan Blondies">
               </div>
               <div class="cardview__content">
                  <div class="cardview__left cardview__left--full">
                     <h3 class="cardview__name">Pumpkin Pumkin Pecan Blondies Blondies Pecan Pumpkin Blondies Pecan Pecan</h3>
                     <div class="cardview__info">Presented in <strong>Pacific Foods</strong></div>
                  </div>
               </div>
            </div>
         </a>
      </div>
   </div><!-- /.lists__item -->
   <div class="lists__item">
      <div class="cardview">
         <a href="#" class="cardview__link">
            <div class="cardview__wrapper">
               <div class="cardview__image">
                  <img src="{{BASE_HREF}}assets/images/default/img-recipe-slow-cooker-green-curry.jpg" alt="Pumpkin Pecan Blondies">
               </div>
               <div class="cardview__content">
                  <div class="cardview__left cardview__left--full">
                     <h3 class="cardview__name">Slow Cooker Green Curry Chicken Toast</h3>
                     <div class="cardview__info">Presented in <strong>Pacific Foods</strong></div>
                  </div>
               </div>
            </div>
         </a>
      </div>
   </div><!-- /.lists__item -->
   <div class="lists__item">
      <div class="cardview">
         <a href="#" class="cardview__link">
            <div class="cardview__wrapper">
               <div class="cardview__image">
                  <img src="{{BASE_HREF}}assets/images/default/img-recipe-coconut-cauliflower-tacos.jpg" alt="Pumpkin Pecan Blondies">
               </div>
               <div class="cardview__content">
                  <div class="cardview__left cardview__left--full">
                     <h3 class="cardview__name">Coconut Cauliflower Tacos</h3>
                     <div class="cardview__info">Presented in <strong>Pacific Foods</strong></div>
                  </div>
               </div>
            </div>
         </a>
      </div>
   </div><!-- /.lists__item -->
   <div class="lists__item">
      <div class="cardview">
         <a href="#" class="cardview__link">
            <div class="cardview__wrapper">
               <div class="cardview__image">
                  <img src="{{BASE_HREF}}assets/images/default/img-recipe-coconut-smores.jpg" alt="Pumpkin Pecan Blondies">
               </div>
               <div class="cardview__content">
                  <div class="cardview__left cardview__left--full">
                     <h3 class="cardview__name">Fruity Coconut S'mores</h3>
                     <div class="cardview__info">Presented in <strong>Campfire</strong></div>
                  </div>
               </div>
            </div>
         </a>
      </div>
   </div><!-- /.lists__item -->
   <div class="lists__item">
      <div class="cardview">
         <a href="#" class="cardview__link">
            <div class="cardview__wrapper">
               <div class="cardview__image">
                  <img src="{{BASE_HREF}}assets/images/default/img-recipe-pies.jpg" alt="Pumpkin Pecan Blondies">
               </div>
               <div class="cardview__content">
                  <div class="cardview__left cardview__left--full">
                     <h3 class="cardview__name">S'mores Pies</h3>
                     <div class="cardview__info">Presented in <strong>Campfire</strong></div>
                  </div>
               </div>
            </div>
         </a>
      </div>
   </div><!-- /.lists__item -->
   <div class="lists__item">
      <div class="cardview">
         <a href="#" class="cardview__link">
            <div class="cardview__wrapper">
               <div class="cardview__image">
                  <img src="{{BASE_HREF}}assets/images/default/img-recipe-hot-cocoa.jpg" alt="Pumpkin Pecan Blondies">
               </div>
               <div class="cardview__content">
                  <div class="cardview__left cardview__left--full">
                     <h3 class="cardview__name">Pumpkin Spice Hot Cocoa</h3>
                     <div class="cardview__info">Presented in <strong>Campfire</strong></div>
                  </div>
               </div>
            </div>
         </a>
      </div>
   </div><!-- /.lists__item -->
   <div class="lists__item">
      <div class="cardview">
         <a href="#" class="cardview__link">
            <div class="cardview__wrapper">
               <div class="cardview__image">
                  <img src="{{BASE_HREF}}assets/images/default/img-recipe-pumpkin-pecan-blondies.jpg" alt="Pumpkin Pecan Blondies">
               </div>
               <div class="cardview__content">
                  <div class="cardview__left cardview__left--full">
                     <h3 class="cardview__name">Pumpkin Pumkin Pecan Blondies Blondies Pecan Pumpkin Blondies Pecan Pecan</h3>
                     <div class="cardview__info">Presented in <strong>Pacific Foods</strong></div>
                  </div>
               </div>
            </div>
         </a>
      </div>
   </div><!-- /.lists__item -->
   <div class="lists__item">
      <div class="cardview">
         <a href="#" class="cardview__link">
            <div class="cardview__wrapper">
               <div class="cardview__image">
                  <img src="{{BASE_HREF}}assets/images/default/img-recipe-slow-cooker-green-curry.jpg" alt="Pumpkin Pecan Blondies">
               </div>
               <div class="cardview__content">
                  <div class="cardview__left cardview__left--full">
                     <h3 class="cardview__name">Slow Cooker Green Curry Chicken Toast</h3>
                     <div class="cardview__info">Presented in <strong>Pacific Foods</strong></div>
                  </div>
               </div>
            </div>
         </a>
      </div>
   </div><!-- /.lists__item -->
</div>