<div class="lists lists--grid lists--grid4">
   <div class="lists__item">
      <div class="cardview">
         <a href="{{BASE_HREF}}product.html" class="cardview__link">
            <div class="cardview__wrapper">
               <div class="cardview__image">
                  <img src="{{BASE_HREF}}assets/images/default/img-crostini-480.jpg" alt="Image Product">
               </div>
               <div class="cardview__content">
                  <h3 class="cardview__name">Cirri Crostini What Happened if over than max-length 30</h3>
                  <div class="cardview__price">Rp 175.000</div>
               </div>
            </div>
            <div class="orlabel orlabel--featured"><img src="{{BASE_HREF}}assets/images/default/img-star.png" alt="Featured Product" /></div>
         </a>
      </div>
   </div><!-- /.lists__item -->
   <div class="lists__item">
      <div class="cardview">
         <a href="{{BASE_HREF}}product.html" class="cardview__link">
            <div class="cardview__wrapper">
               <div class="cardview__image">
                  <img src="{{BASE_HREF}}assets/images/default/img-crostini-480.jpg" alt="Image Product">
               </div>
               <div class="cardview__content">
                  <h3 class="cardview__name">Cirri Crostini What Happened if over than max-length 30</h3>
                  <div class="cardview__price">Rp 175.000</div>
               </div>
            </div>
            <div class="orlabel orlabel--featured"><img src="{{BASE_HREF}}assets/images/default/img-star.png" alt="Featured Product" /></div>
         </a>
      </div>
   </div><!-- /.lists__item -->
   <div class="lists__item">
      <div class="cardview">
         <a href="{{BASE_HREF}}product.html" class="cardview__link">
            <div class="cardview__wrapper">
               <div class="cardview__image">
                  <img src="{{BASE_HREF}}assets/images/default/img-crostini-480.jpg" alt="Image Product">
               </div>
               <div class="cardview__content">
                  <h3 class="cardview__name">Cirri Crostini What Happened if over than max-length 30</h3>
                  <div class="cardview__price">Rp 175.000</div>
               </div>
            </div>
            <div class="orlabel orlabel--featured"><img src="{{BASE_HREF}}assets/images/default/img-star.png" alt="Featured Product" /></div>
         </a>
      </div>
   </div><!-- /.lists__item -->
   <div class="lists__item">
      <div class="cardview">
         <a href="{{BASE_HREF}}product.html" class="cardview__link">
            <div class="cardview__wrapper">
               <div class="cardview__image">
                  <img src="{{BASE_HREF}}assets/images/default/img-crostini-480.jpg" alt="Image Product">
               </div>
               <div class="cardview__content">
                  <h3 class="cardview__name">Cirri Crostini What Happened if over than max-length 30</h3>
                  <div class="cardview__price">Rp 175.000</div>
               </div>
            </div>
            <div class="orlabel orlabel--featured"><img src="{{BASE_HREF}}assets/images/default/img-star.png" alt="Featured Product" /></div>
         </a>
      </div>
   </div><!-- /.lists__item -->
   <div class="lists__item">
      <div class="cardview">
         <a href="{{BASE_HREF}}product.html" class="cardview__link">
            <div class="cardview__wrapper">
               <div class="cardview__image">
                  <img src="{{BASE_HREF}}assets/images/default/img-crostini-480.jpg" alt="Image Product">
               </div>
               <div class="cardview__content">
                  <h3 class="cardview__name">Cirri Crostini What Happened if over than max-length 30</h3>
                  <div class="cardview__price">Rp 175.000</div>
               </div>
            </div>
         </a>
      </div>
   </div><!-- /.lists__item -->
   <div class="lists__item">
      <div class="cardview">
         <a href="{{BASE_HREF}}product.html" class="cardview__link">
            <div class="cardview__wrapper">
               <div class="cardview__image">
                  <img src="{{BASE_HREF}}assets/images/default/img-crostini-480.jpg" alt="Image Product">
               </div>
               <div class="cardview__content">
                  <h3 class="cardview__name">Cirri Crostini What Happened if over than max-length 30</h3>
                  <div class="cardview__price">Rp 175.000</div>
               </div>
            </div>
         </a>
      </div>
   </div><!-- /.lists__item -->
   <div class="lists__item">
      <div class="cardview">
         <a href="{{BASE_HREF}}product.html" class="cardview__link">
            <div class="cardview__wrapper">
               <div class="cardview__image">
                  <img src="{{BASE_HREF}}assets/images/default/img-crostini-480.jpg" alt="Image Product">
               </div>
               <div class="cardview__content">
                  <h3 class="cardview__name">Cirri Crostini What Happened if over than max-length 30</h3>
                  <div class="cardview__price">Rp 175.000</div>
               </div>
            </div>
         </a>
      </div>
   </div><!-- /.lists__item -->
   <div class="lists__item">
      <div class="cardview">
         <a href="{{BASE_HREF}}product.html" class="cardview__link">
            <div class="cardview__wrapper">
               <div class="cardview__image">
                  <img src="{{BASE_HREF}}assets/images/default/img-crostini-480.jpg" alt="Image Product">
               </div>
               <div class="cardview__content">
                  <h3 class="cardview__name">Cirri Crostini What Happened if over than max-length 30</h3>
                  <div class="cardview__price">Rp 175.000</div>
               </div>
            </div>
         </a>
      </div>
   </div><!-- /.lists__item -->
</div><!-- /.lists -->
