<div class="form__group">
   <label for="fname">Nama Lengkap</label>
   <input type="text" class="form__control" id="fname" name="fname" placeholder="Fill your Full Name" required>
</div>
<div class="form__group">
   <label for="mobile">Telepon Mobile</label>
   <input type="number" class="form__control" id="mobile" name="mobile" placeholder="Fill your valid Mobile Number" required>
   <span class="form__info">Number [0 - 9], example: 081234567890</span>
</div>
<div class="form__group">
   <label for="email">Alamat Email</label>
   <input type="email" class="form__control form__control--invalid" id="email" name="email" required>
   <span class="form__feedback">Bukan Alamat Email yang valid, silakan melakukan pengecekan kembali.</span>
</div>
<div class="form__group">
   <label for="address">Alamat Lengkap</label>
   <textarea class="form__control form__control--invalid" id="fname" name="fname" required rows="5"></textarea>
   <span class="form__info">Filled with Street Name, House Number, Building Name, Unit Number, Floor Name.</span>
   <span class="form__feedback">This is error message.</span>
</div>
<div class="form__row">
   <div class="form__group">
      <label for="city">Kota/ Propinsi</label>
      <input type="text" class="form__control" id="city" name="city" placeholder="Fill your current city and/or district">
   </div>
   <div class="form__group">
      <label for="postal">Kode Pos</label>
      <input type="number" class="form__control" id="postal" name="postal" placeholder="Fill your Postal Code" >
   </div>
</div>
