<section class="section section--yspace section--white">
   <div class="container">
      <h2 class="section__title text-center">Recipes</h2>
      <h5 class="section__subline mb-3 text-center">Pump your creativity and enjoy with your lovable ones. <a href="#">View it All</a></h5>
      <div class="carousel owl-carousel js-recipe-carousel carousel--recipe">
         <div class="carousel__item">
            <div class="cardview">
               <a href="#" class="cardview__link" title="Pumpkin Pecan Blondies">
                  <div class="cardview__wrapper">
                     <div class="cardview__image">
                        <img src="{{BASE_HREF}}assets/images/default/img-recipe-pumpkin-pecan-blondies.jpg" alt="Image Product">
                     </div>
                     <div class="cardview__content">
                        <div class="cardview__left cardview__left--full">
                           <h3 class="cardview__name">Pumpkin Pecan Blondies</h3>
                           <span class="cardview__text">Presented in <b>Pacific Foods</b></span>
                        </div>
                     </div>
                  </div>
               </a>
            </div>
         </div><!-- /.carousel__item -->
         <div class="carousel__item">
            <div class="cardview">
               <a href="#" class="cardview__link" title="Slow Cooker Green Curry Chicken Tacos with Organic Bone Broth plus Protein">
                  <div class="cardview__wrapper">
                     <div class="cardview__image">
                        <img src="{{BASE_HREF}}assets/images/default/img-recipe-slow-cooker-green-curry.jpg" alt="Image Recipe">
                     </div>
                     <div class="cardview__content">
                        <div class="cardview__left cardview__left--full">
                           <h3 class="cardview__name">Slow Cooker Green Curry Chicken Tacos with Organic Bone Broth plus Protein</h3>
                           <span class="cardview__text">Presented in <b>Valledoro</b></span>
                        </div>
                     </div>
                  </div>
               </a>
            </div>
         </div><!-- /.carousel__item -->
         <div class="carousel__item">
            <div class="cardview">
               <a href="#" class="cardview__link" title="Coconut Cauliflower Tacos">
                  <div class="cardview__wrapper">
                     <div class="cardview__image">
                        <img src="{{BASE_HREF}}assets/images/default/img-recipe-coconut-cauliflower-tacos.jpg" alt="Image Recipe">
                     </div>
                     <div class="cardview__content">
                        <div class="cardview__left cardview__left--full">
                           <h3 class="cardview__name">Coconut Cauliflower Tacos Coconut Cauliflower Tacos Coconut Cauliflower Tacos</h3>
                           <span class="cardview__text">Presented in <b>Valledoro</b></span>
                        </div>
                     </div>
                  </div>
               </a>
            </div>
         </div><!-- /.carousel__item -->
         <div class="carousel__item">
            <div class="cardview">
               <a href="#" class="cardview__link">
                  <div class="cardview__wrapper">
                     <div class="cardview__image">
                        <img src="{{BASE_HREF}}assets/images/default/img-recipe-pumpkin-pecan-blondies.jpg" alt="Image Recipe">
                     </div>
                     <div class="cardview__content">
                        <div class="cardview__left cardview__left--full">
                           <h3 class="cardview__name">Pumpkin Pecan Blondies</h3>
                           <span class="cardview__text">Presented in <b>Pacific Foods</b></span>
                        </div>
                     </div>
                  </div>
               </a>
            </div>
         </div><!-- /.carousel__item -->
      </div> 
   </div>
</section>