<section class="section section--yspace section--white">
   <div class="container">
      <div class="row row--align-items-center">
         <div class="col-1of3">
            <h2 class="section__title">Check Our<br>featured Products</h2>
            <h5 class="section__subline mb-5">What most people search and ordered from Us.</h5>
            <p class="section__text">For more products we have</p>
            <a href="{{BASE_HREF}}products.html" class="button button--primary section__button">View All Products</a>
         </div>
         <div class="col-2of3">
            <div class="carousel owl-carousel js-product-carousel carousel--featured">
               <div class="carousel__item">
                  <div class="cardview">
                     <a href="{{BASE_HREF}}product.html" class="cardview__link">
                        <div class="cardview__wrapper">
                           <div class="cardview__image">
                              <img src="{{BASE_HREF}}assets/images/default/img-crostini-480.jpg" alt="Image Product">
                           </div>
                           <div class="cardview__content">
                              <div class="cardview__left">
                                 <h3 class="cardview__name">Cirri Crostini What Happened if over than max-length 30</h3>
                                 <span class="cardview__text">Brand <b>Valledoro</b></span>
                              </div>
                              <div class="cardview__right">
                                 <div class="cardview__price">Rp 175.000</div>
                              </div>
                           </div>
                        </div>
                        <div class="orlabel orlabel--featured"><img src="{{BASE_HREF}}assets/images/default/img-star.png" alt="Featured Product" /></div>
                     </a>
                  </div>
               </div><!-- /.carousel__item -->
               <div class="carousel__item">
                  <div class="cardview">
                     <a href="{{BASE_HREF}}product.html" class="cardview__link">
                        <div class="cardview__wrapper">
                           <div class="cardview__image">
                              <img src="{{BASE_HREF}}assets/images/default/img-crostini-480.jpg" alt="Image Product">
                           </div>
                           <div class="cardview__content">
                              <div class="cardview__left">
                                 <h3 class="cardview__name">Cirri Crostini</h3>
                                 <span class="cardview__text">Brand <b>Valledoro</b></span>
                              </div>
                              <div class="cardview__right">
                                 <div class="cardview__price">Rp 175.000</div>
                              </div>
                           </div>
                        </div>
                        <div class="orlabel orlabel--featured"><img src="{{BASE_HREF}}assets/images/default/img-star.png" alt="Featured Product" /></div>
                     </a>
                  </div>
               </div><!-- /.carousel__item -->
               <div class="carousel__item">
                  <div class="cardview">
                     <a href="{{BASE_HREF}}product.html" class="cardview__link">
                        <div class="cardview__wrapper">
                           <div class="cardview__image">
                              <img src="{{BASE_HREF}}assets/images/default/img-crostini-480.jpg" alt="Image Product">
                           </div>
                           <div class="cardview__content">
                              <div class="cardview__left">
                                 <h3 class="cardview__name">Cirri Crostini</h3>
                                 <span class="cardview__text">Brand <b>Valledoro</b></span>
                              </div>
                              <div class="cardview__right">
                                 <div class="cardview__price">Rp 175.000</div>
                              </div>
                           </div>
                        </div>
                        <div class="orlabel orlabel--featured"><img src="{{BASE_HREF}}assets/images/default/img-star.png" alt="Featured Product" /></div>
                     </a>
                  </div>
               </div><!-- /.carousel__item -->
               <div class="carousel__item">
                  <div class="cardview">
                     <a href="{{BASE_HREF}}product.html" class="cardview__link">
                        <div class="cardview__wrapper">
                           <div class="cardview__image">
                              <img src="{{BASE_HREF}}assets/images/default/img-crostini-480.jpg" alt="Image Product">
                           </div>
                           <div class="cardview__content">
                              <div class="cardview__left">
                                 <h3 class="cardview__name">Cirri Crostini</h3>
                                 <span class="cardview__text">Brand <b>Valledoro</b></span>
                              </div>
                              <div class="cardview__right">
                                 <div class="cardview__price">Rp 175.000</div>
                              </div>
                           </div>
                        </div>
                        <div class="orlabel orlabel--featured "><img src="{{BASE_HREF}}assets/images/default/img-star.png" alt="Featured Product" /></div>
                     </a>
                  </div>
               </div><!-- /.carousel__item -->
            </div>
            <div class="orlabel orlabel--hidden-small" style="margin-left: 15px;"><span>Featured Products</span></div>
         </div>
      </div>
   </div>
</section>