<section class="section section--gradient-bottom section--yspace">
   <div class="container">
      <div class="row">
         <div class="col-2of3">
            <div class="section__text pr-4-xl">
               <h1 class="section__title mb-4">{{BASE_TITLE}}</h1>
               <p>We are one of the youngest and fastest growing Imports and Distribution Company in Indonesia. Since our establishment we have grown in a very short time to become one of the leading suppliers of foodstuffs in Indonesian modern trade. We pride ourselves in working quickly and efficiently, linking our global partners to local consumers throughout Indonesia, from major cities in Java Island to remote locations in Papua New Guinea. All our products are handled with outmost care so they arrive at the shelves at the best possible condition.</p>
               <p>We are deeply committed and dedicated in all aspects of development of the brands we represent. It is the same commitment and dedication that bears fruit to our success.</p>
            </div>
         </div>
         <div class="col-1of3">
            <div class="section__image section__image--offset">
               <img src="{{BASE_HREF}}assets/images/default/img-feature-about.jpg" alt="About Fermanto Image">
            </div>
         </div>
      </div>
   </div>
</section>
<section class="section section--white section--yspace">
   <div class="container">
      <h2 class="section__title">Distribution Channels</h2>
      <div class="section__image section__image--scrollable mt-3">
         <img src="{{BASE_HREF}}assets/images/default/img-map-distribution.png" alt="Distribution channels map"/>
      </div>
   </div>
</section>