<section class="section section--vspace section--white">
   <div class="pattern-offset">
      <div class="container">
         <div class="row">
            <div class="col-3of3">
               <div class="section__space">
                  <h2 class="section__title">Who We Are</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-2of3">
               <div class="section__space">
                  <div class="section__text mb-4"><p>We are one of the youngest and fastest growing Imports and Distribution Company in Indonesia. Since our establishment we have grown in a very short time to become one of the leading suppliers of foodstuffs in Indonesian modern trade</p></div>
                  <a href="#" class="button button--secondary">Learn More</a>
               </div>
            </div>   
            <div class="col-1of3">
               <img class="section__image" src="{{BASE_HREF}}assets/images/default/img-feature-about.jpg" />
            </div>
         </div>
      </div>
   </div>
   <div class="pattern-offset--pull">
      <div class="container">
         <div class="row">
            <div class="col-2of3">
               <div class="carousel js-partner-carousel carousel--partner owl-carousel">
                  <div class="carousel__item"><img src="{{BASE_HREF}}assets/images/partner/img-abuella.jpg" alt="image partner"></div>
                  <div class="carousel__item"><img src="{{BASE_HREF}}assets/images/partner/img-aeon.jpg" alt="image partner"></div>
                  <div class="carousel__item"><img src="{{BASE_HREF}}assets/images/partner/img-aerofood.jpg" alt="image partner"></div>
                  <div class="carousel__item"><img src="{{BASE_HREF}}assets/images/partner/img-alfamart.jpg" alt="image partner"></div>
                  <div class="carousel__item"><img src="{{BASE_HREF}}assets/images/partner/img-allfresh.jpg" alt="image partner"></div>
                  <div class="carousel__item"><img src="{{BASE_HREF}}assets/images/partner/img-artisans.jpg" alt="image partner"></div>
                  <div class="carousel__item"><img src="{{BASE_HREF}}assets/images/partner/img-bali-bunda.jpg" alt="image partner"></div>
                  <div class="carousel__item"><img src="{{BASE_HREF}}assets/images/partner/img-bali-deli.jpg" alt="image partner"></div>
                  <div class="carousel__item"><img src="{{BASE_HREF}}assets/images/partner/img-bca-prioritas.jpg" alt="image partner"></div>
                  <div class="carousel__item"><img src="{{BASE_HREF}}assets/images/partner/img-bils.jpg" alt="image partner"></div>
               </div><!-- /END Carousel -->
               <div class="orlabel orlabel--hidden-small" style="margin-left: 15px;"><span>Distribution Channels</span></div>
            </div>
         </div>
      </div>
   </div>
</section>