<script src="{{BASE_HREF}}assets/scripts/vendor/jquery-zoom/jquery.zoom.min.js"></script>
<div class="image image--zoomlist">
   <div class="image__feature">
      <div class="image__wrapper" id="zoomableImage">
         {# <img src="{{BASE_HREF}}assets/images/catalog/full/img-no-product.jpg" alt="Featured Products" width="480" height="480"> #}
      </div>
   </div>
   <div class="image__thumbs">
      <div class="image__thumb">
         <div class="image__thumb-item">
            <img src="{{BASE_HREF}}assets/images/catalog/thumbnail/5c7e6498f2d43_ceylon_bags.png" alt="image-thumbnail">
         </div>
      </div>
      <div class="image__thumb">
         <div class="image__thumb-item">
            <img src="{{BASE_HREF}}assets/images/catalog/thumbnail/img-risibi.jpg" alt="image-thumbnail">
         </div>
      </div>
      <div class="image__thumb">
         <div class="image__thumb-item">
            <img src="{{BASE_HREF}}assets/images/catalog/thumbnail/img-zufi-pesto.jpg" alt="image-thumbnail">
         </div>
      </div>
      <div class="image__thumb">
         <div class="image__thumb-item">
            <img src="{{BASE_HREF}}assets/images/catalog/thumbnail/img-zufi-pizza.jpg" alt="image-thumbnail">
         </div>
      </div>
   </div>
</div>