<div class="cardview cardview--sidebar">
   <div class="cardview__wrapper">
      <div class="map">
         <div class="map__wrapper">
            {# <div id="map" class="map__embed"></div> #}
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7932.866463406019!2d106.80808270036844!3d-6.206445301898884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f6a4bd21479f%3A0xe2778049d159f16a!2sJl.+Penjernihan+II+No.1%2C+RT.10%2FRW.6%2C+Bend.+Hilir%2C+Tanah+Abang%2C+Kota+Jakarta+Pusat%2C+Daerah+Khusus+Ibukota+Jakarta+10210!5e0!3m2!1sen!2sid!4v1539851366486" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
         </div>
      </div>
      <div class="cardview__content">
         <h2 class="cardview__title">Main Office</h2>
         <div class="cardview__text">
            <p>Jl. Penjernihan II no.1 Pav<br/>Jakarta Pusat, Indonesia</p>
            <p>Telp: 021 5732816, 021 5732845<br/>Fax: 021 5736678</p>
            <!-- Handled Whatsapp API in php ref-to: -->
            <!-- https://medium.com/@jeanlivino/how-to-fix-whatsapp-api-in-desktop-browsers-fc661b513dc -->
            <p>Whatsapp: <a href="#">0816767190</a></p>
         </div>
      </div>
   </div>
</div>
{# Must using Google Bill for activating #}
{# <script>
   function initMap() {
      var fermantoCoordinate = {lat:-6.203179, lng:106.807393};
		var map = new google.maps.Map(document.getElementById('map'), {zoom:15, center: fermantoCoordinate});
		var marker = new google.maps.Marker({position: fermantoCoordinate, map: map});
	}
</script>
<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4VsnLD_15GuY31h5iWPg9mzxsHBCTKOM&callback=initMap">
</script> #}