<div class="modal" id="modalThankyou">
   <div class="modal__wrapper">
      <div class="modal__dialog">
         <div class="modal__body">
            <div class="modal__image">
               <img src="{{BASE_HREF}}assets/images/default/img-icon-goal.png" alt="Thankyou Image" height="115">
            </div>
            <h2 class="modal__headline">Terimakasih</h2>
            <div class="modal__text">
               <p>Pemesanan Barang Anda telah berhasil terkirim.</p>
            <p>Tim Order kami akan menghubungi Anda pada hari dan jam kerja kantor. Kami juga telah mengirimkan detail pemesanan dalam Email Anda yang sudah terkirim.</p>
            </div>
            <div class="modal__action">
               <a href="{{BASE_HREF}}" class="button button--primary">Kembali ke Halaman Utama</a>
            </div>
         </div><!-- /.modal__body -->
      </div><!-- /.modal__dialog -->
   </div><!-- /.modal__wrapper -->
</div><!-- /.modal -->