<div class="panel">
   <div class="panel__header">
      <p>What is Fermanto and how is it different than ordinary Food Distributor?</p>
   </div>
   <div class="panel__body">
      <p>There are a few things that make Pipcorn different. The first, and most obvious, is the fact that it’s actually mini popcorn. Our popcorn pops to about half the size of ordinary popcorn.</p>
   </div>
</div>
<div class="panel">
   <div class="panel__header">
      <p>What is Fermanto and how is it different than ordinary Food Distributor?</p>
   </div>
   <div class="panel__body">
      <p>There are a few things that make Pipcorn different. The first, and most obvious, is the fact that it’s actually mini popcorn. Our popcorn pops to about half the size of ordinary popcorn.</p>
   </div>
</div>
<div class="panel">
   <div class="panel__header">
      <p>What is Fermanto and how is it different than ordinary Food Distributor?</p>
   </div>
   <div class="panel__body">
      <p>There are a few things that make Pipcorn different. The first, and most obvious, is the fact that it’s actually mini popcorn. Our popcorn pops to about half the size of ordinary popcorn.</p>
   </div>
</div>
<div class="panel">
   <div class="panel__header">
      <p>What is Fermanto and how is it different than ordinary Food Distributor?</p>
   </div>
   <div class="panel__body">
      <p>There are a few things that make Pipcorn different. The first, and most obvious, is the fact that it’s actually mini popcorn. Our popcorn pops to about half the size of ordinary popcorn.</p>
   </div>
</div>