<form class="form" novalidate>
   <div class="form__group">
      <h3 class="form__title">Send Us Message</h3>
   </div>
   <div class="form__group">
      <label for="fname">Nama Lengkap</label>
      <input type="text" class="form__control" id="fname" name="fname" placeholder="Fill your Full Name" required>
   </div>
   <div class="form__group">
      <label for="mobile">Telepon Mobile</label>
      <input type="number" class="form__control" id="mobile" name="mobile" placeholder="Fill your valid Mobile Number" required>
   </div>
   <div class="form__group">
      <label for="email">Alamat Email</label>
      <input type="email" class="form__control form__control--invalid" id="email" name="email" required>
      <span class="form__feedback">Bukan Alamat Email yang valid, silakan melakukan pengecekan kembali.</span>
   </div>
   <div class="form__group">
      <label for="address">Message</label>
      <textarea class="form__control form__control--invalid" id="fname" name="fname" required rows="5"></textarea>
      <span class="form__feedback">This is error message.</span>
   </div>
   <div class="form__group">
      <!--  Captcha here, please replace the image for prduction -->
      <img src="{{BASE_HREF}}assets/images/default/img-captcha.png" alt="" style="max-width: 100%;">
      <!-- end Captcha -->
   </div>
   <!-- Change to button type="submit" in production -->
   <button type="button" class="button button--primary" data-toggle="modal" data-target="#modalSuccess">Submit Message</button>
</form>