<div class="table table--basket">
   <div class="table__wrapper">
      <div class="table__content">
         <div class="table__header">
            <div class="table__row">
               <div class="table__col">
                  <div class="table__heading">Produk</div>
               </div>
               <div class="table__col">
                  <div class="table__heading">Harga</div>
               </div>
               <div class="table__col">
                  <div class="table__heading">Jumlah</div>
               </div>
               <div class="table__col">
                  <div class="table__heading">Subtotal</div>
               </div>
               <div class="table__col"></div>
            </div>
         </div>
         <div class="table__body">
            <div class="table__row">
               <div class="table__col" data-label="Product">
                  <div class="group">
                     <div class="group__thumb">
                        <img src="{{BASE_HREF}}assets/images/default/img-crostini-50.jpg" alt="" class="group__img">
                     </div>
                     <div class="group__content">
                        <h3 class="group__name">Torinesi Famiglia Lionel Messi Menggiring Bola Ahoy! Ini bukan sembarang Merk</h3>
                        <p class="group__info">Brand: Valledoro</p>
                     </div>
                  </div>
               </div>
               <div class="table__col" data-label="Harga">
                  <div class="table__base-price mask-currency">15000</div>
               </div>
               <div class="table__col" data-label="Jumlah">
                  <div class="table__quantity">
                     <button class="button button--icon button--icon-decrement"><i data-feather="minus"></i></button>
                     <input class="input input--qty table__input-qty" type="number" value="1"/>
                     <button class="button button--icon button--icon-increment"><i data-feather="plus"></i></button>
                  </div>
               </div>
               <div class="table__col" data-label="Subtotal">
                  <div class="table__subtotal mask-currency">0</div>
               </div>
               <div class="table__col" data-label="">
                  <div class="table__action">
                     <button class="button button--icon-danger js-button-delete" type="button" ><i data-feather="trash"></i></button>
                  </div>
               </div>
            </div><!-- /.table__row -->
            <div class="table__row">
               <div class="table__col" data-label="Product">
                  <div class="group">
                     <div class="group__thumb">
                        <img src="{{BASE_HREF}}assets/images/default/img-crostini-50.jpg" alt="" class="group__img">
                     </div>
                     <div class="group__content">
                        <h3 class="group__name">Torinesi Famiglia Lionel Messi Menggiring Bola Ahoy! Ini bukan sembarang Merk</h3>
                        <p class="group__info">Brand: Valledoro</p>
                     </div>
                  </div>
               </div>
               <div class="table__col" data-label="Harga">
                  <div class="table__base-price mask-currency">20000</div>
               </div>
               <div class="table__col" data-label="Jumlah">
                  <div class="table__quantity">
                     <button class="button button--icon button--icon-decrement"><i data-feather="minus"></i></button>
                     <input class="input input--qty table__input-qty" type="number" value="1"/>
                     <button class="button button--icon button--icon-increment"><i data-feather="plus"></i></button>
                  </div>
               </div>
               <div class="table__col" data-label="Subtotal">
                  <div class="table__subtotal mask-currency">0</div>
               </div>
               <div class="table__col" data-label="">
                  <div class="table__action">
                     <button class="button button--icon-danger js-button-delete" type="button" ><i data-feather="trash"></i></button>
                  </div>
               </div>
            </div><!-- /.table__row -->
            <div class="table__row">
               <div class="table__col" data-label="Product">
                  <div class="group">
                     <div class="group__thumb">
                        <img src="{{BASE_HREF}}assets/images/default/img-crostini-50.jpg" alt="" class="group__img">
                     </div>
                     <div class="group__content">
                        <h3 class="group__name">Torinesi Famiglia Lionel Messi Menggiring Bola Ahoy! Ini bukan sembarang Merk</h3>
                        <p class="group__info">Brand: Valledoro</p>
                     </div>
                  </div>
               </div>
               <div class="table__col" data-label="Harga">
                  <div class="table__base-price mask-currency">60000</div>
               </div>
               <div class="table__col" data-label="Jumlah">
                  <div class="table__quantity">
                     <button class="button button--icon button--icon-decrement"><i data-feather="minus"></i></button>
                     <input class="input input--qty table__input-qty" type="number" value="1"/>
                     <button class="button button--icon button--icon-increment"><i data-feather="plus"></i></button>
                  </div>
               </div>
               <div class="table__col" data-label="Subtotal">
                  <div class="table__subtotal mask-currency">0</div>
               </div>
               <div class="table__col" data-label="">
                  <div class="table__action">
                     <button class="button button--icon-danger js-button-delete" type="button" ><i data-feather="trash"></i></button>
                  </div>
               </div>
            </div><!-- /.table__row -->
            <div class="table__row">
               <div class="table__col" data-label="Product">
                  <div class="group">
                     <div class="group__thumb">
                        <img src="{{BASE_HREF}}assets/images/default/img-crostini-50.jpg" alt="" class="group__img">
                     </div>
                     <div class="group__content">
                        <h3 class="group__name">Torinesi Famiglia Lionel Messi Menggiring Bola Ahoy! Ini bukan sembarang Merk</h3>
                        <p class="group__info">Brand: Valledoro</p>
                     </div>
                  </div>
               </div>
               <div class="table__col" data-label="Harga">
                  <div class="table__base-price mask-currency">30000</div>
               </div>
               <div class="table__col" data-label="Jumlah">
                  <div class="table__quantity">
                     <button class="button button--icon button--icon-decrement"><i data-feather="minus"></i></button>
                     <input class="input input--qty table__input-qty" type="number" value="1"/>
                     <button class="button button--icon button--icon-increment"><i data-feather="plus"></i></button>
                  </div>
               </div>
               <div class="table__col" data-label="Subtotal">
                  <div class="table__subtotal mask-currency" >0</div>
               </div>
               <div class="table__col" data-label="">
                  <div class="table__action">
                     <button class="button button--icon-danger js-button-delete" type="button" ><i data-feather="trash"></i></button>
                  </div>
               </div>
            </div><!-- /.table__row -->
         </div><!-- /.table__body -->
         <div class="table__footer">
            <div class="table__row table__row--justify-end">
               <div class="table__col">
                  <div class="table__heading">Subtotal</div>
               </div>
               <div class="table__col">
                  <div class="table__netttotal mask-currency">0</div>
               </div>
            </div>
            <div class="table__row table__row--justify-end table__row--no-border">
               <div class="table__col">
                  <div class="table__heading">Grand total</div>
               </div>
               <div class="table__col">
                  <div class="table__grandtotal mask-currency">0</div>
               </div>
            </div>
         </div>
      </div><!-- /.table__content -->
   </div>
</div>