<article class="article">
   <h2 class="article__name">Cirri al Rosmarino</h2>
   <p class="article__info">Brand: <a href="#">Valledoro</a></p>
   <p class="article__price mask-currency">175000</p>
   <div class="article__action">
      <form class="form">
         <div class="form__group form__group--flex-row my-4">
            <span>Qty.</span>
            <div class="article__input-qty">
               <button type="button" class="button button--icon button--icon-decrement"><i data-feather="minus"></i></button>
               <input type="number" value="1" name="item_qty" class="input input--qty">
               <button type="button" class="button button--icon button--icon-increment"><i data-feather="plus"></i></button>
            </div>
            <!-- on production: Please change button type to submit -->
            <button class="button button--primary js-add-to-basket" type="button">Add to My Basket</button>
         </div>
      </form>
   </div>
   <div class="article__text">
      <p>These crostini are prepared with long cooking and toasting methods. They are flavoured with extra virgin olive oil and rosemary, and ideal as a snack at any time of day or as an accompaniment to soup.</p>
      <p><strong>Ingredient</strong><br/>
Grade 0 wheat flour, high-oleic sunflower oil, extra virgin olive oil (4.5%), yeast, iodised salt, malted cereal flour, rosemary (2%). May contain traces of sesame.</p>
   </div>
</article>