<div class="lists lists--image">
   <ul>
      <li class="lists__item">
         <img src="{{BASE_HREF}}assets/images/partner/img-bca-prioritas.jpg" alt="BCA Prioritas">
      </li>
      <li class="lists__item">
         <img src="{{BASE_HREF}}assets/images/partner/img-aerofood.jpg" alt="Aerofood ACS">
      </li>
   </ul>
</div>