<div class="lists lists--image">
   <ul>
      <li class="lists__item">
         <img src="{{BASE_HREF}}assets/images/partner/img-circle-k.jpg" alt="Circle K">
      </li>
      <li class="lists__item">
         <img src="{{BASE_HREF}}assets/images/partner/img-minimart.jpg" alt="Mini Mart">
      </li>
      <li class="lists__item">
         <img src="{{BASE_HREF}}assets/images/partner/img-sevel.jpg" alt="Seven Eleven">
      </li>
      <li class="lists__item">
         <img src="{{BASE_HREF}}assets/images/partner/img-family-mart.jpg" alt="FamilyMart">
      </li>
      <li class="lists__item">
         <img src="{{BASE_HREF}}assets/images/partner/img-lawson.jpg" alt="Lawson Station">
      </li>
      <li class="lists__item">
         <img src="{{BASE_HREF}}assets/images/partner/img-guardian.jpg" alt="Guardian">
      </li>
      <li class="lists__item">
         <img src="{{BASE_HREF}}assets/images/partner/img-century.jpg" alt="Century Healthcare">
      </li>
      <li class="lists__item">
         <img src="{{BASE_HREF}}assets/images/partner/img-alfamart.jpg" alt="Alfamart">
      </li>
      <li class="lists__item">
         <img src="{{BASE_HREF}}assets/images/partner/img-indomaret.jpg" alt="Indomaret">
      </li>
   </ul>
</div>