<div class="tag mb-3">
   <div class="tag__title">Filter: </div>
   <div class="tag__lists">
      {# <span class="tag__item">Breadstick<i class="tag__remove" data-feather="x"></i></span>
      <span class="tag__item">Zulu<i class="tag__remove"  data-feather="x"></i></span>
      <span class="tag__item">Breadstick<i class="tag__remove" data-feather="x"></i></span>
      <span class="tag__item">Zulu<i class="tag__remove"  data-feather="x"></i></span> #}
   </div>
</div>