<div class="selectbox">
   <div class="selectbox__wrapper">
      <div class="selectbox__header">
         <span class="selectbox__text">All Brands</span>
         <span class="selectbox__arrow"></span>
      </div>
      <div class="selectbox__body">
         <ul>
            <li><span data-name="all">All Brands</span></li>
            <li><span data-name="ahmadtea">Ahmad Tea</span></li>
            <li><span data-name="campfire">Campfire</span></li>
            <li><span data-name="itsuki">Itsuki</span></li>
            <li><span data-name="jays">Jays</span></li>
            <li><span data-name="john-john">John &amp; John</span></li>
            <li><span data-name="krunchers">Krunchers</span></li>
            <li><span data-name="pacific-foods">Pacific Foods</span></li>
            <li><span data-name="pastarotti">Pastarotti</span></li>
            <li><span data-name="pfanner">Pfanner</span></li>
            <li><span data-name="poco-loco">Poco Loco</span></li>
            <li><span data-name="pulmoll">Pulmoll</span></li>
            <li><span data-name="rocky-mountain">Rocky Mountain</span></li>
            <li><span data-name="snyders">Snyder's</span></li>
            <li><span data-name="stmichel">St Michel</span></li>
            <li><span data-name="valledoro">Valledoro</span></li>
         </ul>
      </div>
   </div>
</div><!-- /.selectbox -->