<div class="select-category">
   <div class="select-category__wrapper">
      <div class="select-category__header">
         <span class="select-category__text">Categories</span>
         <span class="select-category__icon"><i data-feather="plus"></i></span>
      </div>
      <div class="select-category__body">
         <ul>
            <li><label for="breadstick"><input type="checkbox" value="breadstick" name="breadstick" id="breadstick" class="select-category__check"><span>Breadsticks</span></label></li>
            <li><label for="bibi-e-bibo"><input type="checkbox" value="bibi e bibo" name="bibi-e-bibo" id="bibi-e-bibo" class="select-category__check"><span>Bibi e Bibo</span></label></li>
            <li><label for="baked-snack"><input type="checkbox"  value="baked snack" name="baked-snack" id="baked-snack" class="select-category__check"><span>Baked snacks</span></label></li>
            <li><label for="gluten-free"><input type="checkbox" value="gluten free"  name="gluten-free" id="gluten-free" class="select-category__check"><span>Gluten-free</span></label></li>
            <li><label for="catering"><input type="checkbox"  value="catering" name="catering" id="catering" class="select-category__check"><span>For Catering trade on 
Special Events</span></label></li>
         </ul>
      </div>
   </div>
</div>