{% extends "layouts/_minimal-layout.njk" %}
{% set BASE_TITLE = "404 - Error Page" %}
{% set BASE_HREF = "./" %}

{% block main %}
<div class="section section--white section--fullscreen text-center">
   <div class="container">
      <img class="section__image" src="./assets/images/default/img-icon-404.png" alt="404 Page Image">
      <h2 class="section__title">404 Page Not Found</h2>
      <div class="section__text">
         <p>The page you requested doesn't exists.</p>
      </div>
      <div class="section__action">
         <a href="./" class="button button--primary" title="Back to Home">Take Me Back to Home</a>
      </div>
   </div>
</div>
{% endblock %}