{% extends "layouts/_email-layout.njk" %}
{% set BASE_TITLE = "Email Confirmation" %}
{% set BASE_HREF = "./" %}

{% block email_header %}
<!-- /////////// EMAIL HEADER /////////////// -->
<!-- //////////////////////////////////////// -->
<tr>
   <td>
      <table bgcolor="#2b6982" border="0" align="center" cellpadding="0" cellspacing="0" width="100%">
         <tr>
            <td valign="middle" align="left" width="300px" style="padding-left: 20px;padding-top: 10px;padding-bottom:15px;">
               <img src="http://sandbox.cyberprimatama.id/fermantobevfoods/design/assets/images/default/logo-large.png" height="40" style="display:inline-block;"/>
            </td>
            <td valign="middle" align="right" width="300px" style="padding-top:10px;padding-bottom:15px;padding-right:20px;">
               <span style="font-family:'Poppins',sans-serif; font-weight:700; color: white; font-size: 16px; line-height: 24px;">Konfirmasi</span>
            </td>
         </tr>
      </table>
   </td>
</tr>
{% endblock %}

{% block email_content %}
<!-- /////////// EMAIL CONTENT ////////////// -->
<!-- //////////////////////////////////////// -->
<tr>
   <td>
      <table bgcolor="#ffffff" border="0" align="center" cellpadding="0" cellspacing="0" width="100%">
         <tr>
            <td height="40" style="line-height:0px;">&nbsp;</td>
         </tr>
         <tr>
            <td valign="top" align="left" style="padding-left: 20px;padding-right:20px;">
               <h2 style="margin: 0;font-size: 18px; line-height: 24px;font-family:'Poppins',sans-serif;color:#000000;font-weight: 600;">Halo <span>[Nama]</span>,</h2>
            </td>
         </tr>
         <tr>
            <td height="16" style="line-height:0px;">&nbsp;</td>
         </tr>
         <tr>
            <td valign="top" align="left" style="padding-left: 20px;padding-right:20px;">
               <p style="margin:0; font-size: 14px; color: #555;font-family:'Poppins',sans-serif;font-weight:400;line-height: 20px;">Terimakasih untuk pesanan Anda. Pesanan Anda telah kami terima.</p>
            </td>
         </tr>
         <tr>
            <td height="16" style="line-height:0px;">&nbsp;</td>
         </tr>
         <tr>
            <td valign="top" align="left" style="padding-left: 20px;padding-right:20px;">
               <table  bgcolor="#ffffff" border="0" align="left" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                     <td width="160" style="font-size:14px;line-height:20px;color:#555555;padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px; font-family:'Poppins',sans-serif;font-weight:400;">No. Faktur:</td>
                     <td width="400" style="font-size:14px;line-height:20px;color:#000000;padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px; font-family:'Poppins',sans-serif;font-weight:400;">20181121F001</td>
                  </tr>
                  <tr>
                     <td width="160px" style="font-size:14px;line-height:20px;color:#555555;padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px; font-family:'Poppins',sans-serif;font-weight:400;">Tanggal diterima:</td>
                     <td width="400px" style="font-size:14px;line-height:20px;color:#000000;padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px; font-family:'Poppins',sans-serif;font-weight:400;">21 November 2018</td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <td valign="top" align="left" height="30px" style="border-bottom:1px solid #DDDDDD; padding-left: 20px;padding-right:20px;">
               <span style="height:0px;line-height:0;">&nbsp;</span>
            </td>
         </tr>
         <tr>
            <td height="30" style="line-height: 0px;">&nbsp;</td>
         </tr>
         <tr>
            <td valign="top" align="left" style="padding-left: 20px;padding-right:20px;">
               <h3 style="margin: 0;font-size: 16px; line-height: 24px;font-family:'Poppins',sans-serif;color:#000000;font-weight: 600;padding-bottom: 16px;">Rincian Pesanan</h3>
               <table  bgcolor="#ffffff" border="0" align="center" cellpadding="0" cellspacing="0" width="100%">
                  <tr valign="top">
                     <th align="left" width="300px" style="font-size:14px;line-height:20px;color:#000000;padding-top:10px;padding-bottom:10px;padding-left:5px;padding-right:5px;font-family:'Poppins',sans-serif;font-weight:600;
                     border-bottom:1px solid #000000;">Nama Pesanan</th>
                     <th align="right" width="100px" style="font-size:14px;line-height:20px;color:#000000;padding-top:10px;padding-bottom:10px;padding-left:5px;padding-right:5px; font-family:'Poppins',sans-serif;font-weight:600; border-bottom:1px solid #000000;">Jumlah</th>
                     <th align="right" width="160px" style="font-size:14px;line-height:20px;color:#000000;padding-top:10px;padding-bottom:10px;padding-left:5px;padding-right:5px;font-family:'Poppins',sans-serif;font-weight:600; border-bottom:1px solid #000000;">Harga</th>
                  </tr>
                  <tr valign="top">
                     <td align="left" width="300px" style="font-size:14px;line-height:20px;color:#555555;padding-top:10px;padding-bottom:10px;padding-left:5px;padding-right:5px;font-family:'Poppins',sans-serif;font-weight:400; border-bottom:1px solid #DDDDDD;">Cirri Crostini</td>
                     <td align="right" width="100px" style="font-size:14px;line-height:20px;color:#555555;padding-top:10px;padding-bottom:10px;padding-left:5px;padding-right:5px; font-family:'Poppins',sans-serif;font-weight:400; border-bottom:1px solid #DDDDDD;">120</td>
                     <td align="right" width="160px" style="font-size:14px;line-height:20px;color:#555555;padding-top:10px;padding-bottom:10px;padding-left:5px;padding-right:5px;font-family:'Poppins',sans-serif;font-weight:400; border-bottom:1px solid #DDDDDD;">Rp. 21.000.000</td>
                  </tr>
                  <tr valign="top">
                     <td align="left" width="300px" style="font-size:14px;line-height:20px;color:#555555;padding-top:10px;padding-bottom:10px;padding-left:5px;padding-right:5px;font-family:'Poppins',sans-serif;font-weight:400; border-bottom:1px solid #DDDDDD;">Rustici con Crusca</td>
                     <td align="right" width="100px" style="font-size:14px;line-height:20px;color:#555555;padding-top:10px;padding-bottom:10px;padding-left:5px;padding-right:5px; font-family:'Poppins',sans-serif;font-weight:400; border-bottom:1px solid #DDDDDD;">100</td>
                     <td align="right" width="160px" style="font-size:14px;line-height:20px;color:#555555;padding-top:10px;padding-bottom:10px;padding-left:5px;padding-right:5px;font-family:'Poppins',sans-serif;font-weight:400; border-bottom:1px solid #DDDDDD;">Rp. 17.500.000</td>
                  </tr>
                  <tr valign="top">
                     <td align="left" width="300px" style="font-size:14px;line-height:20px;color:#555555;padding-top:10px;padding-bottom:10px;padding-left:5px;padding-right:5px;font-family:'Poppins',sans-serif;font-weight:400; border-bottom:1px solid #DDDDDD;">Birrini Ristorante</td>
                     <td align="right" width="100px" style="font-size:14px;line-height:20px;color:#555555;padding-top:10px;padding-bottom:10px;padding-left:5px;padding-right:5px; font-family:'Poppins',sans-serif;font-weight:400; border-bottom:1px solid #DDDDDD;">100</td>
                     <td align="right" width="160px" style="font-size:14px;line-height:20px;color:#555555;padding-top:10px;padding-bottom:10px;padding-left:5px;padding-right:5px;font-family:'Poppins',sans-serif;font-weight:400; border-bottom:1px solid #DDDDDD;">Rp. 17.500.000</td>
                  </tr>
                  <tr valign="top">
                     <td align="left" width="300px" style="font-size:14px;line-height:20px;color:#555555;padding-top:10px;padding-bottom:10px;padding-left:5px;padding-right:5px;font-family:'Poppins',sans-serif;font-weight:400; border-bottom:1px solid #DDDDDD;">Torinesi Famiglia</td>
                     <td align="right" width="100px" style="font-size:14px;line-height:20px;color:#555555;padding-top:10px;padding-bottom:10px;padding-left:5px;padding-right:5px; font-family:'Poppins',sans-serif;font-weight:400; border-bottom:1px solid #DDDDDD;">100</td>
                     <td align="right" width="160px" style="font-size:14px;line-height:20px;color:#555555;padding-top:10px;padding-bottom:10px;padding-left:5px;padding-right:5px;font-family:'Poppins',sans-serif;font-weight:400; border-bottom:1px solid #DDDDDD;">Rp. 17.500.000</td>
                  </tr>
                  <tr valign="top">
                     <td align="right" colspan="2" width="100px" style="font-size:14px;line-height:20px;color:#000000;padding-top:10px;padding-bottom:10px;padding-left:5px;padding-right:5px;font-family:'Poppins',sans-serif; font-weight:600;">Total*</td>
                     <td align="right" width="160px" style="font-size:14px;line-height:20px;color:#000000;padding-top:10px;padding-bottom:10px;padding-left:5px;padding-right:5px;font-family:'Poppins',sans-serif;font-weight:600;">Rp. 91.000.000</td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <td height="20" style="line-height: 0px;">&nbsp;</td>
         </tr>
         <tr>
            <td style="font-size:12px;line-height:20px;color: #999999;font-family:'Poppins',sans-serif;font-weight: 400;padding-left:20px;padding-right:20px;">* Total harga belum termasuk pajak, ongkos pengiriman, dan service charge lainnnya.</td>
         </tr>
         <tr>
            <td height="20" style="line-height: 0px;">&nbsp;</td>
         </tr>
         <tr>
            <td valign="top" style="padding-left:20px;padding-right: 20px;">
               <table bgcolor="#f1f1f1" border="0" align="center" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                     <td height="20" style="line-height: 0px; background-color: #f1f1f1;">&nbsp;</td>
                  </tr>
                  <tr>
                     <td valign="top" style="padding-left:20px;padding-right: 20px;">
                        <h3 style="margin: 0;font-size: 16px; line-height: 24px;font-family:'Poppins',sans-serif;font-weight: 600;color:#000000;">Tujuan Pengiriman</h3>
                     </td>
                  </tr>
                  <tr>
                     <td height="16" style="line-height: 0px; background-color: #f1f1f1;">&nbsp;</td>
                  </tr>
                  <tr>
                     <td valign="top" style="padding-left:20px;padding-right: 20px;">
                        <p style="font-size:14px;line-height:24px;color:#555555;margin:0;">[Nama]</p>
                     </td>
                  </tr>
                  <tr>
                     <td height="8" style="line-height: 0px; background-color: #f1f1f1;">&nbsp;</td>
                  </tr>
                  <tr>
                     <td valign="top" style="padding-left:20px;padding-right: 20px;">
                        <p style="font-size:14px;line-height:24px;color:#555555;margin:0;">[Alamat Pengiriman]</p>
                     </td>
                  </tr>
                  <tr>
                     <td height="8" style="line-height: 0px; background-color: #f1f1f1;">&nbsp;</td>
                  </tr>
                  <tr>
                     <td valign="top" style="padding-left:20px;padding-right: 20px;">
                        <p style="font-size:14px;line-height:24px;color:#555555;margin:0;">[Mobile Phone]</p>
                     </td>
                  </tr>
                  <tr>
                     <td height="20" style="line-height: 0px; background-color: #f1f1f1;">&nbsp;</td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <td height="40" style="line-height: 0px;">&nbsp;</td>
         </tr>
      </table>
   </td>
</tr>
{% endblock %}

{% block email_footer %}
<!-- /////////// EMAIL FOOTER /////////////// -->
<!-- //////////////////////////////////////// -->
<tr>
   <td height="20" style="line-height:0px;">&nbsp;</td>
</tr>
<tr>
   <td style="color: #999999;font-size: 12px; line-height:18px;" align="center">
      Email ini dibuat secara otomatis. Mohon tidak mengirimkan balasan ke email ini.
   </td>
</tr>
<tr>
   <td height="20" style="line-height:0px;">&nbsp;</td>
</tr>
<tr>
   <td style="color: #999999;font-size: 12px; line-height:18px;" align="center">
      Untuk pertanyaan ataupun saran, silahkan <a href="#" target="_blank" style="color:#009688;">Hubungi Kami</a>.<br>
      Copyright &copy; 2018. Fermanto Bevfoods.
   </td>
</tr>
{% endblock %}