{% extends "layouts/_page-layout.njk" %}
{% set BASE_TITLE = "How to Order" %}
{% set BASE_HREF = "./" %}
{% block main %}
<section class="section section--white section--yspace">
   <div class="container">
      <h1 class="section__title mb-4">{{BASE_TITLE}}</h1>
      <div class="row">
         <div class="col-2of3">
            {% include "partials/_partial-qna-section.njk" %}
         </div>
         <div class="col-1of3">
            {% include "partials/_partial-sidebar-helpdesk.njk" %}
         </div>
      </div>
   </div>
</section>
{% endblock %}