// ***********************************
// BUTTONS
// ***********************************

button {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}

.button {
	border: 0;
	box-shadow: none;
	outline: 0;
	cursor: pointer;
	padding: 13px 60px;
	font-family: $font-family-subline;
	border-radius: 20px;
	line-height: rem(24);
	font-size: rem(16);
	text-decoration: none !important;
	display: inline-block;
	color: inherit;
	background-color: #ddd;
	margin-bottom: 1.5em;
	box-sizing: border-box;
	width: 100%;
	text-align: center;

	@include small {
		width: auto;
		text-align: left;
	}

	&:disabled,
	&[disabled] {
		cursor: not-allowed;
	}
}

.button--primary {
	background-color: $color-secondary !important;
	background-image: $gradient-primary !important;
	color: white !important;
	transition: transform 100ms ease-out, background-color 200ms ease-out;

	&:hover {
		background-image: none !important;
		text-decoration: none !important;
	}

	&:active {
		background-color: $color-primary;
	}

	&:disabled,
	&[disabled] {
		color: rgba(white, 0.5);
	}

	&:disabled:hover,
	&:disabled:active {
		transform: translateY(0px);
	}
}

.button--secondary {
	background-color: $color-fourth !important;
	color: white !important;
	transition: transform 200ms ease-out, background-color 150ms ease-out;

	&:hover {
		background-color: $color-fourth-lighter;
	}

	&:active {
		background-color: $color-fourth-darker;
	}

	&:disabled,
	&[disabled] {
		color: rgba(white, 0.5);
	}

	&:disabled:hover,
	&:disabled:active {
		transform: translateY(0px);
	}
}

.button--danger {
	@extend .button--primary;
	background-image: none;
	background-color: $color-red;

	&:hover {
		background-color: $color-red-lighter;
	}

	&:active {
		background-color: $color-red-darker;
	}
}

.button--tertiary {
	background-color: transparent;
	color: $color-secondary;
	transition: transform 200ms ease-out, background-color 200ms ease-out;

	&:hover {
		background-color: $color-gray-darker;
	}

	&:disabled,
	&[disabled] {
		color: rgba($color-secondary, 0.5);
	}
}

.button--link {
	padding: 0;
	background-color: transparent;
	color: $color-secondary;
	line-height: 1.5;

	&:hover,
	&:active {
		text-decoration: underline;
	}
}

.button--link-gray {
	@extend .button--link;
	color: #666;
}

.button--toggler-menu {
	background: transparent;
	width: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding: 13px;

	.button__icon {
		position: relative;
		top: 2px;
		stroke: white;
	}

	@include large {
		display: none;
	}
}

.button--basket {
	margin-bottom: 0;
	width: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: center;
	background-color: transparent;
	padding: 0;
	padding: 13px 0;
	@include xlarge {
		align-items: flex-end;
	}

	.button__icon {
		background-image: url('../images/default/img-icon-basket.png');
		width: 24px;
		height: 24px;
		margin-right: 8px;
		background-repeat: no-repeat;
		background-position: center center;
	}

	.button__number {
		font-size: rem(18);
		line-height: 1;
		font-family: $font-family-headline;
		color: white;
		position: relative;

		@include large {
			color: black;
			padding-right: 43px;
			&:before {
				content: 'My Basket';
				text-transform: uppercase;
				font-size: rem(9);
				color: #999;
				position: absolute;
				top: -10px;
				left: 0;
				white-space: nowrap;
			}

			&:after {
				content: 'items';
				font-family: $font-family-subline;
				font-size: rem(14);
				line-height: rem(18);
				color: #000;
				position: absolute;
				top: 1px;
				right: 0;
			}
		}
	}
}

.button--close {
	padding: 33px 13px;
	width: auto;
	background-color: transparent;
	position: fixed;
	top: 0;
	right: 0;
	margin: 0;

	.button__icon {
		stroke: white;
		width: 30px;
		height: 30px;
		position: relative;
		top: 2px;
	}
}

.button--icon {
	margin-bottom: 0;
	padding: 8px;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	box-sizing: border-box;
	line-height: 14px;

	svg {
		width: 14px;
		height: 14px;
	}
}

.button--icon-text {
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 13px 24px;
	// border-radius: 5px;

	.button__icon {
		margin-right: 8px;
		width: 24px;
		height: 24px;
		background-size: 24px 24px;
		background-repeat: no-repeat;
		background-position: center center;
		stroke: white;

		&.checkout {
			background-image: url('../images/default/checkout.svg');
		}
	}

	.button__feather-icon {
		margin-right: 8px;
		width: 16px;
		height: 24px;
		line-height: 24px;
		stroke: white;
	}
}

.button--icon-danger {
	@extend .button--icon;
	background-color: $color-red;
	color: white;

	svg {
		stroke: white;
	}
}
