<header class="header">
   <nav class="navbar navbar--minimize">
      <div class="container">
         <div class="navbar__wrapper">
            <div class="navbar__brand">
               <a href="{{BASE_HREF}}index.html">
                  <picture>
                     <source  srcset="{{BASE_HREF}}assets/images/default/logo-large.png 250w, {{BASE_HREF}}assets/images/default/logo-large-retina.png 504w " media="(min-width:576px)">
                     <img class="large-hero__image" srcset="{{BASE_HREF}}assets/images/default/logo-small.png 164w, {{BASE_HREF}}assets/images/default/logo-small-retina.png 328w" alt="Fermanto Logo">
                  </picture>
               </a>
            </div>
         </div>
      </div>
   </nav>
</header>